<!-- <div id="cart-title" class="row">
    <h2 class="col-3 offset-1 fw-bold">Shopping Cart</h2>
</div>
<div class="container mt-4 w-100">

    @if (cartItems.length > 0) {
        <div class="row fw-bold text-uppercase border-bottom p-3 d-none d-md-flex">
            <div class="col-md-1">Product</div>
            <div class="col-md-4"></div> 
            <div class="col-md-3">Quantity</div>
            <div class="col-md-2">Subtotal</div>
            <div class="col-md-1"></div> 
        </div>
        
        @for (item of cartItems ?? []; track item._id) {
            <app-cart-item [product]="item" (totalBillUpdated)="updateTotalBill($event)"></app-cart-item>
        }
        
        <div class="my-5 w-25 text-center py-3" style="background-color: #f8f4fc;">
            <p class="py-3 rounded-2 fw-bold border-bottom mx-auto" style="width: fit-content;">
                Total: &nbsp; &nbsp; {{ totalBill | currency:'EGP ' }}
            </p>
            <button class="btn btn-success text-white" (click)="purchase()">Proceed To Checkout</button>
        </div>
        
        
    } @else {
        <p class="text-center text-muted mt-5 display-6 alert alert-info">Your cart is empty.</p>
    }
</div>

 -->
 <div id="cart-title" class="row">
    <h2 class="col-3 offset-1 fw-bold">Shopping Cart</h2>
</div>
<div class="container mt-4 w-100">

    @if (cartItems.length > 0) {
        <div class="row fw-bold text-uppercase border-bottom p-3 d-none d-md-flex">
            <div class="col-md-1">Product</div>
            <div class="col-md-4"></div> 
            <div class="col-md-3">Quantity</div>
            <div class="col-md-2">Subtotal</div>
            <div class="col-md-1"></div> 
        </div>
        
        @for (item of cartItems ?? []; track item._id) {
            <app-cart-item [product]="item" (totalBillUpdated)="updateTotalBill($event)"></app-cart-item>
        }
        
        <div class="my-5 w-25 text-center py-3" style="background-color: #f8f4fc;">
            <p class="py-3 rounded-2 fw-bold border-bottom mx-auto" style="width: fit-content;">
                Total: &nbsp; &nbsp; {{ totalBill | currency:'EGP ' }}
            </p>
            <button class="btn btn-success text-white" (click)="purchase()">Proceed To Checkout</button>
        </div>
        
        
    } @else {
        <p class="text-center text-muted mt-5 display-6 alert alert-info">Your cart is empty.</p>
    }
</div>
