<!-- 
  <div class="card product-card">
    <img [src]="productItem.images[0]" class="card-img-top product-image" alt="{{ productItem.name }}">
  <div class="card-body text-center">
    <h5 class="card-title">{{ productItem.name }}</h5>
    <p class="card-text price">
      {{ productItem.price | currency : "EGP" : "symbol" : "1.2-2" }}
    </p>
    <div class="rating">
      @for (star of [1, 2, 3, 4, 5]; track star) {
        <span class="star" [ngClass]="{'filled': star <= productItem.rating}">&#9733;</span>
      }
    </div>
    <p class="stock-status" [ngClass]="{'in-stock': productItem.availabilityStatus === 'In Stock', 'low-stock': productItem.availabilityStatus === 'Low Stock', 'out-of-stock': productItem.availabilityStatus === 'Out of Stock'}">
      {{ productItem.availabilityStatus }}
    </p>
    <button class="btn btn-primary me-2" [routerLink]="['/all', productItem.id]">View Details</button>
   
   </div>
</div> -->

@for (product of Products ; track product._id) {
  
  <div class="card product-card" >{{product.name}}</div>
  @for (review of product.reviews; track $index) {
    <div  >{{review.rating}}</div>
  }
}