<div class="container mt-4">
    <h2 class="mb-4">Shopping Cart</h2>

    @if ((cartItems.products).length ?? 0 > 0) {
        <div class="row fw-bold text-uppercase border-bottom p-3 d-none d-md-flex">
            <div class="col-md-2">Product</div>
            <div class="col-md-4"></div> 
            <div class="col-md-3">Quantity</div>
            <div class="col-md-2">Subtotal</div>
            <div class="col-md-1"></div> 
        </div>
        
        @for (item of cartItems.products ?? []; track item.id) {
            <app-cart-item [product]="item" ></app-cart-item>
        }

        <div class="d-flex justify-content-end my-5">
            <h4 class="bg-success text-light p-4 rounded-2" style="width: fit-content;">
                Total: {{ cartItems.total | currency:'EGP ' }}
            </h4> 
        </div>
        
    } @else {
        <p class="text-center text-muted">Your cart is empty.</p>
    }
</div>


