<!-- @if(product){
    <div class="container text-center">
      <h1 class="text-center mb-5 title">Products Details </h1>
    <div class="card product-details-card">
      <div class="product-image-container">
        <img [src]="product.image" alt="{{ product.name }}" class="product-image">
      </div>
      <div class="product-info">
        <h2 class="product-title">{{ product.name }}</h2>
        <p>{{product.description}}</p>
           <div class="rating">
          @for (star of [1, 2, 3, 4, 5]; track star) {
            <span class="star" [ngClass]="{'filled': star <= product.reviews.rating}">&#9733;</span>
          }
        </div> 
       
        <p class="product-price">{{ product.price | currency:'EGP' }}</p>
        
        <button class="btn-outline-success btn me-3 ">Buy Now</button>
        <button class="btn btn-success" >Add to Cart</button> 

      </div>
    </div></div>

  }@else{
    <div class="container text-center">
      <h1 class="text-center mb-5 title">No Product Found</h1>
    </div>
  }
 -->
