<div
  class="container d-flex justify-content-center align-items-center vh-100 bg-light"
>
  <div
    class="card shadow-lg p-5 rounded-3"
    style="max-width: 600px; width: 90%"
  >
    <h2 class="text-center mb-4" style="color: #2c3e50; font-weight: 600">
      Create Your Account
    </h2>
    <form [formGroup]="signupForm" (ngSubmit)="handelSignUp()">
      <div class="mb-4">
        <input
          type="text"
          class="form-control form-control-lg px-4"
          placeholder="Full Name"
          id="name"
          formControlName="name"
          required
          style="border: 2px solid #ecf0f1; transition: all 0.3s"
        />
        @if(formControls['name'].invalid && formControls['name'].touched) {

          @if (formControls['name'].hasError('required')) {
            <small class="text-danger mt-1 d-block">Name is required</small>
          } 
          @if(formControls['name'].hasError('minlength')) {
            <small class="text-danger mt-1 d-block">Name must be at least 3 characters</small>
          }
          @if(formControls['name'].hasError('maxlength')) {
            <small class="text-danger mt-1 d-block">Name must be at maximum 20 characters</small>
          }
      }
      </div>
      <div class="mb-4">
        
        <input
          type="email"
          class="form-control form-control-lg px-4"
          placeholder="Email Address"
          id="email"
          formControlName="email"
          required
          style="border: 2px solid #ecf0f1; transition: all 0.3s"
        />
        @if(formControls['email'].invalid && formControls['email'].touched) {
        @if(formControls['email'].hasError('required')) {
        <small class="text-danger mt-1 d-block">Email is required</small>
        } @if(formControls['email'].hasError('email')) {
        <small class="text-danger mt-1 d-block">Invalid email format</small>
        } }
      </div>
      
      <div class="mb-4">
        <input
          type="password"
          class="form-control form-control-lg px-4"
          placeholder="Password"
          id="password"
          formControlName="password"
          required
          style="border: 2px solid #ecf0f1; transition: all 0.3s"
        />
        @if(formControls['password'].invalid &&
        formControls['password'].touched) {
            @if(formControls['password'].hasError('required')) {
            <small class="text-danger mt-1 d-block">Password is required</small>
            } 
            @if(formControls['password'].hasError('minlength')) {
            <small class="text-danger mt-1 d-block"
              >Password must be at least 8 characters</small>
            } 
            @if(formControls['password'].hasError('pattern')) {
                <small class="text-danger mt-1 d-block"
                  >Must include uppercase, lowercase, number, and specialcharacter</small>
            } 
        }
      </div>

      <div class="mb-4">
       
        <input
          type="password"
          class="form-control form-control-lg px-4"
          placeholder="Confirm Password"
          id="confirmPassword"
          formControlName="confirmPassword"
          style="border: 2px solid #ecf0f1; transition: all 0.3s"
        />
        @if(formControls['confirmPassword'].invalid &&
        formControls['confirmPassword'].touched) {
        @if(formControls['confirmPassword'].hasError('required')) {
        <small class="text-danger mt-1 d-block"
          >Confirm Password is required</small
        >
        } } @if(signupForm.hasError('passwordMismatch') && signupForm.touched) {
        <small class="text-danger mt-1 d-block">Passwords do not match</small>
        }
      </div>

      <button
        type="submit"
        class="btn w-100 py-2 text-white fw-bold"
        style="background: #FB2E86; transition: all 0.3s"
        [disabled]="signupForm.invalid"
      >
        Create Account
      </button>

      @if(signupForm.invalid && formSubmitted) {
      <div class="text-danger text-center mt-3 small fst-italic">
        Please complete all required fields correctly
      </div>
      }
    </form>
  </div>
</div>
